<section class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <form [formGroup]="formulario">
                <input type="text" placeholder="Nome" class="form-control" formControlName="nome">
                <input type="text" placeholder="E-mail" class="form-control" formControlName="email">
                <input type="text" placeholder="Idade" class="form-control" formControlName="idade">
                <button class="btn btn-primary" (click)="cadastrar()" *ngIf="btnCadastrar">Cadastrar</button>
                <button class="btn btn-warning" (click)="alterar()" *ngIf="btnAlterar">Alterar</button>
                <button class="btn btn-danger" (click)="excluir()" *ngIf="btnExcluir">Excluir</button>
                <button class="btn btn-secondary" (click)="cancelar()" *ngIf="btnCancelar">Cancelar</button>
            </form>
        </div>
    </div> 

    <div class="row">
        <div class="offset-md-2 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Idade</th>
                        <th>Selecionar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let u of usuarios; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{u.nome}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.idade}}</td>
                        <td><button class="btn btn-success" (click)="selecionar(i)">Selecionar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>